
html, body {
    margin: 0;
    height: 99%;
}

.editor {
    height: 97%;
    white-space: pre-wrap;
    border: none;
    display: block;
    padding: 20px;
    margin: 15px auto 0;
    width: 1000px;
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeSpeed;
}

@media (min-width: 1200px) {
    .editor {
        font-size: 26px;
        width: 641px;
    }
}