
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.editor {
    height: 1195px;
    white-space: pre-wrap;
    border: none;
    display: block;
    padding: 20px;
    margin: 15px auto 0;
    width: 1000px;
    font-family: 'Ubuntu', sans-serif;
    text-rendering: optimizeSpeed;
}

@media (min-width: 1200px) {
    .editor {
        font-size: 26px;
        width: 641px;
    }
}

.progress {
    height: 10px;
    width: 0;
    background: gray;
    margin: 0 15px;
    padding: 0 20px;
    max-width: 1000px;
}